@font-face {
    font-family: 'verizonFont';
    src: URL('./VERIZONNHGEDS-REGULAR.TTF') format('truetype');
  }
  
  @font-face {
    font-family: 'verizonBoldFont';
    src: URL('./VERIZONNHGEDS-BOLD.TTF') format('truetype');
  }

  
body{
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: black;
    font-family: verizonFont;
}


h1{
    margin:2px !important;
    font-size: 32px !important;
    text-align: justify;
}

h2{
    margin:2px !important;
    font-size: 28px !important;
    text-align: justify;
}

h3{
    margin:2px !important;
    font-size: 24px !important;
    text-align: justify;
}

h4{
    margin:2px !important;
    font-size: 22px !important;
    font-weight: 500;
    text-align: justify;
}

h5{
    margin: 10px 0px !important;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    color: white;
}

h6{
    margin: 2px !important;
    font-size: 13px !important;
    color: white;
    text-align: justify;
    word-spacing: 3px;
}

p{
    margin: 2px !important;
    color: white;
    text-align: justify;
    font-weight: 700;
}

.navBar{
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.alignContentCenter{
    display: flex;
    align-content: center;
    justify-content: center;
}

.HeaderOne{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 20px;
    height: 30px !important;
}

.rowContent{
    display: flex;
    flex-direction: row;
}

.HeaderTwo{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 80px !important;
    align-items: center;
}

.logoImage{
    width: 50px !important;
    height: 50px !important;
}

.HeaderThree{
    background-color: #666;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.icon{
    color: white;
    font-size: 12px;
}

.contentSection{
    margin-top: 160px!important;
}

.formSection{
    justify-content: space-between;
    width: 70%;
    align-items: center;
    background-color: white;
    padding-top: 40px;
}

.noteText{
    color: grey;
    margin: 20px 0px !important;
}

.helpText{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: verizonBoldFont;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 30px;
}

input{
    border: 0px !important;
    border-bottom: 2px solid black !important;
    width: 300px;
    padding: 3px 10px;
    margin-bottom: 20px;
}

select{
    background-color: transparent;
     color: black;
     outline: none;
     outline-style: none;
     border-top: 1px solid grey;
     border-left: 1px solid grey;
     border-right: 1px solid grey;
     border-bottom: 2px solid black;
     padding: 3px 10px;
     width: 320px !important;
     font-size: 20px;
     margin-bottom: 50px;
     cursor: pointer;
 }

 .labelText{
    color: grey;
    font-size: 15px;
    margin-bottom: 10px !important;
}

textarea{
    height: 100px;
    width: 500px;
}

.submitButton{
    background-color: black;
    color: white;
    width: 170px !important;
    height: 40px !important;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.submitButton:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.footerSection{
    display: flex;
    justify-content: space-between;
    width: 70%;
   margin-bottom: 80px;
}

.columnContent{
    display: flex;
    flex-direction: column;
}

.columnContentLarge{
    min-height: 250px;
    margin-left: 10px;
    margin-top: 30px;
}

.columnContentSmall{
    margin-left: 10px;
}

.navigationText{
    margin: 10px 0px !important;
    font-size: 13px !important;
    color: rgb(194, 194, 194);
    text-align: justify;
    cursor: pointer;
}

.footerSectionTwo{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 10px;
   margin-bottom: 80px;
}

.socialMediaRow{
    display: flex;
    margin-top: 10px;
}

.action{
    cursor: pointer;
}
