@font-face {
    font-family: 'verizonFont';
    src: URL('./VERIZONNHGEDS-REGULAR.TTF') format('truetype');
  }
  
  @font-face {
    font-family: 'verizonBoldFont';
    src: URL('./VERIZONNHGEDS-BOLD.TTF') format('truetype');
  }

html,
body{
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: white;
    font-family: verizonFont;
}
.login-page-container{
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.login-form{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 40px;
    border-radius: 20px;
}

.login-logo{
    height: 60px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    margin-bottom: 20px !important;
}

.input-label{
    font-size: 20px;
    font-weight: 800;
    margin: 10px 0px !important;
    color: black;
    font-family: verizonBoldFont;
}

.input-fields{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border: 0px !important;
    border-bottom: 2px solid black !important;
    padding: 0px !important;
    font-size: 20px;
    padding-left: 10px !important;
  font-family: verizonFont;
}

.input-fields:focus{
    outline: none !important;
    border-bottom: 2px solid #d70819 !important;
}

.input-fields:hover{
    border-bottom: 2px solid #d70819 !important;
}

.login-button{
    width: 150px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    position: relative;
    top:auto;
    left: auto;
    margin: auto;
    margin-top: 20px;
    font-family: verizonFont;
}

.login-button:hover{
    border: 2px solid black;
    color: black;
    background-color: white;
}

/* snack bar */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top:20px;
    height: 40px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 20px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 3\20px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 20px; opacity: 1;} 
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

@media only screen and (max-width: 500px){
    .login-form{
        width: 90%;
        padding: 0px;
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
    }
    .input-fields{
        width: 95%;
        height: 30px;
        margin-bottom: 10px;
        border: 1px solid black;
        padding: 0px !important;
        font-size: 20px;
}
}